<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.starvincci.qrcodeadmin.dao.ScandataMapper">
   <insert id="addScandata" parameterType="com.starvincci.qrcodeadmin.pojo.Scandata">
       INSERT INTO scan_data VALUES (#{workno},#{prdno},#{facno},#{bedno},#{seq},#{color},#{size},#{item},#{descn},#{qty},#{recqty},#{recdate});
   </insert>

    <select id="selectScandataByworkNo" parameterType="com.starvincci.qrcodeadmin.pojo.Scandata" resultType="com.starvincci.qrcodeadmin.pojo.Scandata">
        SELECT * FROM scan_data WHERE workno=#{workno} AND recdate BETWEEN #{zerodate} AND #{recdate}
    </select>

    <select id="selectScandaaByDate" parameterType="com.starvincci.qrcodeadmin.pojo.Scandata" resultType="com.starvincci.qrcodeadmin.pojo.Scandata">
        select prdno,facno,Sum(qty) as sumqty, item,workno  from scan_data  where workno=#{workno} and  recdate BETWEEN #{zerodate} and #{recdate}  group by prdno,facno,item,workno order by prdno,facno,item
    </select>

    <select id="checkOnly" parameterType="com.starvincci.qrcodeadmin.pojo.Scandata" resultType="com.starvincci.qrcodeadmin.pojo.Scandata">
        select * from scan_data where prdno=#{prdno} and facno=#{facno} and bedno=#{bedno} and seq=#{seq} and item=#{item} AND workno=#{workno}
    </select>

    <select id="selectScandInfo" parameterType="com.starvincci.qrcodeadmin.pojo.Scandata" resultType="com.starvincci.qrcodeadmin.pojo.Scandata">
        select * from scan_data where workno=#{workno} and item=#{item} and prdno=#{prdno} and facno=#{facno}
    </select>
    <select id="getPrdmoedl" resultType="com.starvincci.qrcodeadmin.pojo.Prdmoedl">
        SELECT * FROM prdmoedl WHERE facno=#{facno}
    </select>

</mapper>